.popup__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 43px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    width: 100%;
    outline: none;
}