.profile {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

@media screen and (max-width: 520px) {
    .profile {
        flex-wrap: wrap;
        justify-content: center;
    }
}