.button_action_fullscreen {
    background: transparent;
    position: relative;
    border: none;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.button_action_fullscreen:hover {
    cursor: pointer;
    opacity: .9;
    transition: opacity .5s;
}